.Cart-list-titles {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.cart-list-container {
  background: #f9fbfe;
  border: 1px solid rgba(11, 105, 255, 0.1);
  box-sizing: border-box;
  margin: 30px;
  padding: 40px;
}
.cart-list-ul-element {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.total-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.rupee-Container {
  display: flex;
}
.palace-order-button {
  background: #f7931e;
  border-radius: 8px;
  order: 0;
  flex-grow: 0;
  margin: 2px 2px;
  padding: 3px 5px 3px 5px;
}
