.Footer-container {
  width: 100%;
  height: 50%;
  background: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 60px;
}
.footer-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}
.social-icons {
  margin: 10px;
}
