.Restaurant-list-item {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.restaurant-item-nav-link {
  text-decoration: none;
  width: 30%;
}
.restaurant-image-width {
  width: 50%;
  height: 70%;
  margin-right: 3px;
}
.restaurant-details {
  display: flex;
  flex-direction: row;
}
.rating {
  display: flex;
  flex-direction: row;
}
.restaurant-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  margin-left: 20px;
}
.restaurant-name {
  font-size: 18px;
  color: #334155;
}
.cuisine-type {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #64748b;
}
@media only screen and (max-width: 600px) {
  .restaurant-name {
    font-size: 10px;
    margin-top: 0px;
  }
  .restaurant-description {
    padding-top: 0px;
  }
  .Restaurant-list-item {
    width: 20%;
  }
}
